body {
    font-family: 'Merriweather Sans', sans-serif;
    min-height: 100vh;
    background-color: purple;
}

/*
font-family: 'Merriweather Sans', sans-serif;
font-family: 'Noto Sans JP', sans-serif;
*/